<!DOCTYPE html>
<html>
  <head>
    <base href="<%= root_path %>"/>
    <script src="assets/jquery-3.2.1.min.js"></script>
    <script src="https://use.fontawesome.com/81e98abb93.js"></script>
    <link rel="stylesheet" href="assets/deep_cover.css" type="text/css"/>
  </head>
  <body class="source">
    <div class="overlay">
      <div class="center">
        <div class="stats"><%= stats %></div>
      </div>
    </div>
    <header>
      <div class="content">
        <div class="info"><span class="deep-cover"><span class="deep">Deep</span>Cover</span>
          <span class="version">v<%= DeepCover::VERSION %></span>
        </div>
        <div class="nav">
          <a href="index.html" aria-label="Home"><i class="fa fa-home" aria-hidden="true"></i></a>
          <span class="path"><%= covered_code.name %><span>
        </div>
      </div>
    </header>
    <main class="source"><%= format_source %></main>
    <script>
      $(function() {
        $('.stats .branch').click(function() {
          $('body').toggleClass('show-forks')
        });
      });
    </script>
  </body>
</html>
